{% render 'partials/header.liquid' %}

<main id="main-content" style="view-transition-name: project-{{ experiment.id }}">

    <a class="return-link button" href="/">Return</a>

    <article class="experiment-article">
        <header class="article-header">
            <h1>{{ experiment.name }}</h1>
            <dl>
                <dt>Status:</dt>
                <dd><span class="label">{{ experiment.status }}</span></dd>
                <dt>Created:</dt>
                <dd>{{ experiment.createdAt | date: "%d-%m-%Y %H:%M" }}</dd>
                <dt>Updated:</dt>
                <dd>{{ experiment.updatedAt | date: "%d-%m-%Y %H:%M" }}</dd>
            </dl>

        </header>

        <div class="article-body">
            <p>
                {{ experiment.description }}
            </p>

            {% if experiment.data %}
            <h2>Data:</h2>
            <p>Rows:{{ experiment.data.totalRows }}</p>

            {% if experiment.data.columns %}
            
            <h3>Columns</h3>

            <div class="table-container">
                <table>
                <thead>
                    <tr>
                        {% for col in experiment.data.columns %}
                        <th title="{{ col.type_text }}">{{ col.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in experiment.data.rows %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            

            {% endif %}
            {% endif %}

            <form action="/experiment/{{ experiment.id }}/delete" method="POST">
                {% comment %} <label for="delete">Remove</label> {% endcomment %}
                <button name="delete" class="delete-button" type="submit">Delete experiment</button>
            </form>
        </div>
    </article>
</main>

{% render 'partials/footer.liquid' %}